<div class = "row">
  <div class="col-sm-1"></div>
  <div class="col-12 col-sm-10 d-flex justify-content-center">
    <h4>Monday, 1500 kcal</h4>
  </div>
  <div class="col-sm-1"></div>
</div>

<div class="row">
  <div class="col-12 col-sm-1"></div>
  <div class="col-12 col-sm-2 d-flex justify-content-center"> Breakfast
    <!-- <img src="../../../Images/20200314_150406.jpg" class="img-fluid" alt="Responsive image"> -->
  </div>
  <div class="col-12 col-sm-2 d-flex justify-content-center">
    <p>Snack</p>
  </div>
  <div class="col-12 col-sm-2 d-flex justify-content-center">Lunch</div>
  <div class="col-12 col-sm-2 d-flex justify-content-center">Snack</div>
  <div class="col-12 col-sm-2 d-flex justify-content-center">Dinner</div>
  <div class="col-12 col-sm-1"></div>
</div>

<!-- <img src="../../../Images/20200314_150406.jpg" class="img-fluid" alt="Responsive image"> -->
<!-- <figure class="figure">
  <img src="/Users/anitamiring/VSCodeProjects/diet-app/Images/20200314_150406.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure> -->

