<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
        <form (submit)="onSaveRecipe(recipeForm)" #recipeForm="ngForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Recipe title</label>
            <input
              type="text"
              class="form-control"
              name="title"
              [ngModel]="recipe?.title"
              required
              minLength="3"
              placeholder="Recipe title"
              #title="ngModel">
          </div>
          <div class="form-group">
            <div class="mb-3">
              <label for="validationTextarea">Recipe description</label>
              <textarea
                class="form-control"
                rows="4"
                name="content"
                [ngModel]="recipe?.content"
                required
                id="validationTextarea"
                placeholder="Recipe description"
                #content="ngModel"></textarea>
              <div *ngIf="content.invalid" class="invalid-feedback">
                Please enter a message in the textarea.
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-secondary" (click)="filePicker.click()">Upload Image</button>
          <input type="file" #filePicker>
          <button type="submit" class="btn btn-primary">Seve recipe</button>
        </form>


      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>




