<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form" (submit)="onSaveRecipe()">
          <div class="form-group">
            <label for="exampleInputEmail1">Recipe title</label>
            <input
              type="text"
              class="form-control"
              formControlName="title"
              placeholder="Recipe title">
              <div *ngIf="form.get('title').invalid" class="invalid-feedback">
                Please enter a message in the textarea.
              </div>
          </div>
          <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
            <img [src]="imagePreview" [alt]="form.value.title">
          </div>
          <div class="form-group">
            <div class="mb-3">
              <label for="validationTextarea">Recipe description</label>
              <textarea
                class="form-control"
                rows="4"
                id="validationTextarea"
                formControlName="content"
                placeholder="Recipe description"></textarea>
              <div *ngIf="form.get('content').invalid" class="invalid-feedback">
                Please enter a message in the textarea.
              </div>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="filePicker.click()">Upload Image</button>
          <input
            type="file"
            #filePicker
            (change)="onImagePicked($event)">
          <button type="submit" class="btn btn-primary">Save recipe</button>
        </form>


      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>




